@media screen and (max-width: 767px) {
  .wrapper{
    width: 300px;
  }
  .left{
    width: 100px;
  }
  .right{
    width: 200px;
  }
  #right3{
    width: 75px;
  }
  .right-center{
    width: 125px;
  }
}

@media screen and (max-width: 479px) {
  .wrapper{
    width: 150px;
  }
　.left{
    width: 150px;
    float: none;
  }
  .right{
    float:none;
  }
  #right3{
    float: none;
  }
}
